.DS_Store
de/src/.obsidian/workspace.json
de/src/.obsidian/hotkeys.json
de/src/.obsidian/core-plugins.json
de/src/.obsidian/core-plugins-migration.json
de/src/.obsidian/appearance.json
de/src/.obsidian/app.json
